<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>О нас</title>
    <style type="text/css">
        .link-light:hover{
            color:#d1d8de !important;
        }
    </style>
</head>
<body class="bg-primary">
<nav th:replace="/header :: header"> </nav>
<div class="container-fluid text-white pt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 h2 text-center">О компании</div>
        <div class="col-md-8">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, cupiditate deserunt dolor dolorum
                enim eos esse fugit illum impedit nihil odit optio porro provident quia quos reiciendis rem vel
                voluptatem.
            </div>
            <div>Autem, repudiandae voluptatem. A ad adipisci, animi consequatur, culpa exercitationem laborum magnam
                non numquam porro, quaerat quo repudiandae sit temporibus totam veniam voluptate voluptates? Ab alias
                assumenda obcaecati quos sunt?
            </div>
            <div>Ab accusantium alias amet aspernatur commodi, corporis cupiditate distinctio eaque eius, eum
                exercitationem fugiat harum incidunt nam neque officia rerum saepe sequi similique tempora tempore ullam
                unde? Alias, dolor, fugit?
            </div>
            <div>Ad distinctio dolor dolorem eos fugiat nostrum voluptatem. Consequuntur temporibus totam voluptates.
                Accusamus distinctio ea earum ex, exercitationem fugit id ipsam non, numquam porro quasi quisquam
                suscipit, tenetur ut voluptatum?
            </div>
            <div>Ab accusantium, ad architecto corporis cupiditate, dolor dolores doloribus eligendi eos esse est
                explicabo fugiat id illum iusto molestias nam perspiciatis porro quasi quia quisquam ratione
                reprehenderit repudiandae vitae voluptatibus!
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>