<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Жалобы и предложения</title>
    <style type="text/css">
        .link-light:hover {
            color: #d1d8de !important;
        }
        .form-check-input:checked{
            background-color: rgba(0,0,0,.55) !important;
            border-color: rgba(0,0,0,.55) !important;
        }
        textarea {
            height: 25rem;
        }
    </style>
</head>
<body class="bg-primary">
<nav th:replace="/header :: header"></nav>
<div class="container-fluid text-white pt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 h2 text-center">Жалобы и предложения</div>
        <form class="col-md-6 mt-3" onsubmit="return checkFields();" th:action="@{/complaintsSuggestions}" th:object="${complaintSuggestion}" method="post">
            <div class="mb-3">
                <input type="text" class="form-control mb-3" id="name" placeholder="Название темы" name="name" >
                <textarea class="form-control" id="description" name="description" maxlength="2999" rows="3" placeholder="Вашим сервисом..."></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="complaint_or_suggestion" value="0" id="isComplaint">
                <label class="form-check-label" for="isComplaint">
                    Жалоба
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="complaint_or_suggestion" value="1" id="isSuggestion" checked>
                <label class="form-check-label" for="isSuggestion">
                    Предложение
                </label>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button class="btn btn-outline-light mt-3">Отправить</button>
        </form>
    </div>
</div>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    function checkFields(){
        if(confirm("Вы уверены что хотите отправить форму?")){
            let nameLength = document.getElementById('name').value.length;
            if(10 < nameLength && nameLength < 45){
                let descriptionLength = document.getElementById('description').value.length;
                if(10 < descriptionLength && descriptionLength < 3000){
                    return true;
                } else {
                    alert("Описание должно быть больше 10 символов и меньше 3000.");
                    return false;
                }
            } else {
                alert("Название должно быть больше 10 символов и меньше 45.");
                return false;
            }
        } else {
            return false;
        }
    }
</script>
</body>
</html>