<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" class="h-100">
<head>
    <title>Аутентификация</title>
    <style type="text/css">
        form{
            min-width: 300px;
        }
        label{
            color: #212529;
            opacity: 0.7;
        }
    </style>
</head>
<body class="h-100 bg-primary d-flex flex-column">
<nav th:replace="header/header"> </nav>
<main class="text-center text-white m-auto d-flex align-items-center justify-content-center flex-column pt-4 pb-4">
    <!--/*@thymesVar id="exist" type="java.lang.Boolean"*/-->
    <div th:if="${exist == true}">
        Пользователь с таким номером уже зарегестрирован.
    </div>
    <div th:if="${param.error}">
        Неправильный логин или пароль.
    </div>
    <div th:if="${param.logout}">
        Вы вышли.
    </div>
    <form th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 fw-normal">Заполните поля</h1>
        <div class="form-floating">
            <input type="tel" name="phone" class="form-control" id="floatingInput" placeholder="8-800-535-35-35"
                   pattern="8-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" required>
            <label for="floatingInput">Номер телефона</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" required placeholder="Пароль">
            <label for="floatingPassword">Пароль</label>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button class="w-100 btn btn-lg btn-primary btn-outline-light mt-5" type="submit">Войти</button>
    </form>
</main>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>