<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" class="h-100">
<head>
    <title>Обновить пароль</title>
    <style type="text/css">
        form{
            min-width: 300px;
        }
        label{
            color: #212529;
            opacity: 0.7;
        }
    </style>
</head>
<body class="h-100 bg-primary d-flex flex-column">
<nav th:replace="header :: header"></nav>>
<main class="text-center text-white m-auto d-flex align-items-center justify-content-center flex-column pt-4 pb-4">
    <form th:action="@{/user/updatePassword}" onsubmit="return updateConfirmation()" method="post">
        <h1 class="h3 mb-3 fw-normal">Заполните поля</h1>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" minlength="3" maxlength="45" required placeholder="Пароль">
            <label for="floatingPassword">Пароль</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="checkPassword" minlength="3" maxlength="45" required placeholder="Повторение пароля">
            <label for="checkPassword">Повторение пароля</label>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button class="w-100 btn btn-lg btn-primary btn-outline-light  mt-5" type="submit">Изменить пароль</button>
    </form>
</main>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>
    function updateConfirmation(){
        let password = document.getElementById("floatingPassword").value;
        let checkPassword = document.getElementById("checkPassword").value;
        if(checkPassword === password) {
            return confirm("Вы точно хотите изменить пароль?");
        } else {
            alert("Пароли должны совпадать");
            return false;
        }
    }
</script>
</body>
</html>